<a href="https://colab.research.google.com/github/vanessafermino/Curso-Machine-Learning-Atv01/blob/main/Ativ02ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Escreva uma função que receba uma lista de números e retorne outra lista com os números impares.

In [7]:
def obter_numeros_impares(lista_de_numeros):
  numeros_impares = []
  for numero in lista_de_numeros:
    if isinstance(numero, int) and numero % 2 != 0:
      numeros_impares.append(numero)
  return numeros_impares
minha_lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
impares = obter_numeros_impares(minha_lista)
print(f"Números ímpares da lista {minha_lista}: {impares}")

Números ímpares da lista [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]: [1, 3, 5, 7, 9]

Escreva uma função que receba uma lista de números e retorne outra lista com os números primos presentes.

In [23]:
def eh_primo(num):
    """
    Verifica se um número é primo.
    Um número primo é um número natural maior que 1 que não pode ser formado pela multiplicação de dois números naturais menores.
    """
    if num <= 1:
        return False  # Números menores ou iguais a 1 não são primos
    if num <= 3:
        return True   # 2 e 3 são primos
    if num % 2 == 0 or num % 3 == 0:
        return False  # Múltiplos de 2 ou 3 não são primos (exceto o próprio 2 e 3, já tratados)
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

def obter_primos_de_lista(lista_de_numeros):
    """
    Recebe uma lista de números e retorna uma nova lista contendo apenas os números primos.
    """
    primos_encontrados = []
    for numero in lista_de_numeros:
        if eh_primo(numero):
            primos_encontrados.append(numero)
    return primos_encontrados

# Exemplo de uso:
minha_lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 20, 23, 29]
primos_na_lista = obter_primos_de_lista(minha_lista)
print(f"A lista original é: {minha_lista}")
print(f"Os números primos na lista são: {primos_na_lista}")

A lista original é: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 20, 23, 29]
Os números primos na lista são: [2, 3, 5, 7, 11, 13, 17, 23, 29]

Escreva uma função que receba duas listas e retorne outra lista com os elementos que estão presentes em apenas uma das listas.

In [25]:
def elementos_exclusivos(lista1, lista2):
    """
    Recebe duas listas e retorna uma nova lista com os elementos
    que estão presentes em apenas uma das listas (diferença simétrica).
    """
    # Convertendo as listas para conjuntos para operações mais eficientes
    set1 = set(lista1)
    set2 = set(lista2)

    # Encontra elementos em lista1 que não estão em lista2
    exclusivos_lista1 = set1 - set2

    # Encontra elementos em lista2 que não estão em lista1
    exclusivos_lista2 = set2 - set1

    # Combina os elementos exclusivos de ambas as listas
    # e converte de volta para uma lista
    resultado = list(exclusivos_lista1.union(exclusivos_lista2))

    return resultado

# --- Exemplos de uso ---

# Exemplo 1: Listas com alguns elementos em comum
lista_a = [1, 2, 3, 4, 5]
lista_b = [4, 5, 6, 7, 8]
diferenca_simetrica1 = elementos_exclusivos(lista_a, lista_b)
print(f"Lista A: {lista_a}")
print(f"Lista B: {lista_b}")
print(f"Elementos exclusivos: {diferenca_simetrica1}") # Saída esperada: [1, 2, 3, 6, 7, 8] (ordem pode variar)

print("\n" + "="*30 + "\n") # Separador para clareza

Lista A: [1, 2, 3, 4, 5]
Lista B: [4, 5, 6, 7, 8]
Elementos exclusivos: [1, 2, 3, 6, 7, 8]

==============================

Dada uma lista de números inteiros, escreva uma função para encontrar o segundo maior valor na lista.

In [28]:
def encontrar_segundo_maior(lista_numeros):
    if not lista_numeros:
        return None  # Lista vazia, não há segundo maior

    # Usar um conjunto para remover duplicatas e ordenar os elementos únicos
    # Isso garante que se tivermos [5, 5, 5], o "segundo maior" não será o próprio 5
    # e que a ordenação seja de elementos únicos.
    elementos_unicos = sorted(list(set(lista_numeros)))

    if len(elementos_unicos) < 2:
        return None  # Não há segundo elemento distinto (ex: [5] ou [5, 5])
    else:
        # O segundo maior elemento será o penúltimo na lista ordenada
        return elementos_unicos[-2]
print("--- Cenários de Teste ---")
lista1 = [10, 5, 20, 15, 25, 30]
print(f"Lista: {lista1} -> Segundo maior: {encontrar_segundo_maior(lista1)}")

--- Cenários de Teste ---
Lista: [10, 5, 20, 15, 25, 30] -> Segundo maior: 25

Crie uma função que receba uma lista de tuplas, cada uma contendo o nome e a idade de uma pessoa, e retorne a lista ordenada pelo nome das pessoas em ordem alfabética.

In [31]:
def ordenar_pessoas_por_nome(lista_pessoas):
    """
    Recebe uma lista de tuplas (nome, idade) e retorna uma nova lista
    ordenada pelo nome das pessoas em ordem alfabética.

    Args:
        lista_pessoas: Uma lista de tuplas, onde cada tupla contém
                       (nome_string, idade_inteiro).

    Returns:
        Uma nova lista de tuplas, ordenada pelo nome em ordem alfabética.
    """
    # A função sorted() recebe um iterável e um argumento 'key'.
    # O argumento 'key' é uma função que será chamada em cada elemento da lista
    # para obter o valor que será usado para a ordenação.
    # Neste caso, usamos uma função lambda que retorna o primeiro elemento da tupla (o nome).
    lista_ordenada = sorted(lista_pessoas, key=lambda pessoa: pessoa[0])
    return lista_ordenada
pessoas1 = [
    ("Carlos", 30),
    ("Ana", 25),
    ("Beatriz", 35),
    ("Daniel", 28)
]
print(f"Lista original 1: {pessoas1}")
pessoas_ordenadas1 = ordenar_pessoas_por_nome(pessoas1)
print(f"Lista ordenada 1: {pessoas_ordenadas1}")
print("\n" + "="*30 + "\n") # Separador para clareza

Lista original 1: [('Carlos', 30), ('Ana', 25), ('Beatriz', 35), ('Daniel', 28)]
Lista ordenada 1: [('Ana', 25), ('Beatriz', 35), ('Carlos', 30), ('Daniel', 28)]

==============================

Como identificar e tratar outliers em uma coluna numérica usando desvio padrão ou quartis?

In [32]:
import pandas as pd
import numpy as np

def identificar_outliers_desvio_padrao(df, coluna, limite_std=3):
    """
    Identifica outliers em uma coluna numérica de um DataFrame
    usando o método do desvio padrão.

    Args:
        df (pd.DataFrame): O DataFrame a ser analisado.
        coluna (str): O nome da coluna numérica onde os outliers serão procurados.
        limite_std (int/float): O número de desvios padrão a partir da média
                                para considerar um valor como outlier.

    Returns:
        pd.DataFrame: Um DataFrame contendo as linhas que foram identificadas como outliers.
        pd.Series: Uma série booleana (True/False) indicando se cada linha é um outlier.
    """
    media = df[coluna].mean()
    desvio_padrao = df[coluna].std()

    # Calculando os limites superior e inferior
    limite_superior = media + limite_std * desvio_padrao
    limite_inferior = media - limite_std * desvio_padrao

    # Identificando os outliers
    outliers = df[(df[coluna] < limite_inferior) | (df[coluna] > limite_superior)]
    is_outlier_serie = (df[coluna] < limite_inferior) | (df[coluna] > limite_superior)

    print(f"--- Detecção de Outliers por Desvio Padrão ({limite_std} STD) ---")
    print(f"Coluna analisada: '{coluna}'")
    print(f"Média: {media:.2f}")
    print(f"Desvio Padrão: {desvio_padrao:.2f}")
    print(f"Limite Superior (Outlier): {limite_superior:.2f}")
    print(f"Limite Inferior (Outlier): {limite_inferior:.2f}")
    print(f"Total de Outliers encontrados: {len(outliers)}")
    if not outliers.empty:
        print(f"\nOutliers identificados:\n{outliers}")
    else:
        print("\nNenhum outlier encontrado com os critérios atuais.")

    return outliers, is_outlier_serie

# Exemplo de uso:
data = {'ID': range(1, 13),
        'Valor_Venda': [100, 120, 110, 130, 950, 140, 150, 125, 105, 5, 115, 135]}
df_vendas = pd.DataFrame(data)

outliers_encontrados, is_outlier = identificar_outliers_desvio_padrao(df_vendas.copy(), 'Valor_Venda', limite_std=2)
# Você pode usar 'is_outlier' para filtrar o DataFrame original se necessário:
# df_sem_outliers = df_vendas[~is_outlier].copy()

--- Detecção de Outliers por Desvio Padrão (2 STD) ---
Coluna analisada: 'Valor_Venda'
Média: 182.08
Desvio Padrão: 244.63
Limite Superior (Outlier): 671.34
Limite Inferior (Outlier): -307.17
Total de Outliers encontrados: 1

Outliers identificados:
   ID  Valor_Venda
4   5          950

Como concatenar vários DataFrames (empilhando linhas ou colunas), mesmo que tenham colunas diferentes? Dica: Utiliza-se pd.concat() especificando axis=0 (linhas) ou axis=1 (colunas). Quando há colunas diferentes, os valores ausentes são preenchidos com NaN.

In [33]:
import pandas as pd
import numpy as np # Para NaN, embora pd.concat já faça isso automaticamente

print("--- Concatenando por Linhas (axis=0) ---")

# DataFrame 1: Vendas de Janeiro
df1 = pd.DataFrame({
    'Produto': ['A', 'B', 'C'],
    'Vendas_Jan': [100, 150, 200],
    'Regiao': ['Norte', 'Sul', 'Leste']
})
print("DataFrame 1 (df1 - Vendas Jan):\n", df1)

print("\n" + "-"*30 + "\n")

# DataFrame 2: Vendas de Fevereiro (com uma coluna diferente e uma faltando)
df2 = pd.DataFrame({
    'Produto': ['B', 'C', 'D'],
    'Vendas_Fev': [180, 220, 90],
    'Metodo_Pagamento': ['Cartão', 'Pix', 'Dinheiro']
})
print("DataFrame 2 (df2 - Vendas Fev):\n", df2)

print("\n" + "-"*30 + "\n")

# Concatenando df1 e df2 por linhas (axis=0)
# 'join='outer'' é o padrão, então não precisamos especificá-lo explicitamente
df_concatenado_linhas = pd.concat([df1, df2], axis=0)

print("DataFrame concatenado por linhas (df_concatenado_linhas):\n", df_concatenado_linhas)

# Observe que 'Vendas_Jan', 'Regiao', 'Vendas_Fev' e 'Metodo_Pagamento'
# aparecem como colunas. Onde os dados não existem na DataFrame original,
# os valores são preenchidos com NaN.

--- Concatenando por Linhas (axis=0) ---
DataFrame 1 (df1 - Vendas Jan):
   Produto  Vendas_Jan Regiao
0       A         100  Norte
1       B         150    Sul
2       C         200  Leste

------------------------------

DataFrame 2 (df2 - Vendas Fev):
   Produto  Vendas_Fev Metodo_Pagamento
0       B         180           Cartão
1       C         220              Pix
2       D          90         Dinheiro

------------------------------

DataFrame concatenado por linhas (df_concatenado_linhas):
   Produto  Vendas_Jan Regiao  Vendas_Fev Metodo_Pagamento
0       A       100.0  Norte         NaN              NaN
1       B       150.0    Sul         NaN              NaN
2       C       200.0  Leste         NaN              NaN
0       B         NaN    NaN       180.0           Cartão
1       C         NaN    NaN       220.0              Pix
2       D         NaN    NaN        90.0         Dinheiro

Utilizando pandas, como realizar a leitura de um arquivo CSV em um DataFrame e exibir as primeiras linhas?

In [35]:
import pandas as pd
import os # Importar para verificar o caminho, se necessário

# --- Parte principal: Leitura e exibição ---

# 1. Definir o nome (ou caminho completo) do arquivo CSV
# Certifique-se de que o arquivo esteja no mesmo diretório do seu script
# ou forneça o caminho completo (ex: 'C:/Users/SeuUsuario/Documentos/dados.csv')
caminho_do_arquivo = 'dados_exemplo.csv'

# 2. Ler o arquivo CSV para um DataFrame
# pd.read_csv() é a função principal para isso.
try:
    df = pd.read_csv(caminho_do_arquivo)
    print(f"\nArquivo '{caminho_do_arquivo}' lido com sucesso em um DataFrame.")

    # 3. Exibir as primeiras linhas do DataFrame
    # O método .head() por padrão exibe as 5 primeiras linhas.
    # Você pode especificar um número diferente, por exemplo, df.head(10) para as 10 primeiras.
    print("\nAs 5 primeiras linhas do DataFrame:")
    print(df.head())

    # Exemplo: Exibir as 3 primeiras linhas
    print("\nAs 3 primeiras linhas do DataFrame:")
    print(df.head(3))

except FileNotFoundError:
    print(f"Erro: O arquivo '{caminho_do_arquivo}' não foi encontrado.")
    print(f"Verifique se o arquivo está no diretório correto: {os.getcwd()}")
except Exception as e:
    print(f"Ocorreu um erro ao ler o arquivo CSV: {e}")

Arquivo 'dados_exemplo.csv' lido com sucesso em um DataFrame.

As 5 primeiras linhas do DataFrame:
     Nome  Idade          Cidade      Profissao
0   Alice     30       São Paulo     Engenheira
1     Bob     24  Rio de Janeiro       Designer
2  Carlos     35  Belo Horizonte  Desenvolvedor
3   Diana     28    Porto Alegre         Médica
4     Eva     42        Curitiba      Arquiteta

As 3 primeiras linhas do DataFrame:
     Nome  Idade          Cidade      Profissao
0   Alice     30       São Paulo     Engenheira
1     Bob     24  Rio de Janeiro       Designer
2  Carlos     35  Belo Horizonte  Desenvolvedor

Utilizando pandas, como selecionar uma coluna específica e filtrar linhas em um “DataFrame” com base em uma condição?

In [37]:
import pandas as pd

# Criando um DataFrame de exemplo
data = {
    'Nome': ['Alice', 'Bob', 'Carlos', 'Diana', 'Eva', 'Felipe', 'Gabriela'],
    'Idade': [25, 30, 35, 28, 42, 29, 31],
    'Cidade': ['São Paulo', 'Rio de Janeiro', 'São Paulo', 'Belo Horizonte', 'Curitiba', 'Rio de Janeiro', 'São Paulo'],
    'Salario': [50000, 60000, 75000, 55000, 90000, 62000, 70000],
    'Ativo': [True, False, True, True, False, True, True]
}
df = pd.DataFrame(data)

print("DataFrame Original:")
print(df)
print("\n" + "="*50 + "\n")
print("--- Selecionando uma Coluna Específica (Notação de Colchetes) ---")

# Selecionar a coluna 'Nome'
coluna_nome = df['Nome']
print("Coluna 'Nome':")
print(coluna_nome)
print(f"Tipo do objeto retornado: {type(coluna_nome)}") # Retorna uma Series

print("\n" + "-"*30 + "\n")

# Selecionar a coluna 'Idade'
coluna_idade = df['Idade']
print("Coluna 'Idade':")
print(coluna_idade)

DataFrame Original:
       Nome  Idade          Cidade  Salario  Ativo
0     Alice     25       São Paulo    50000   True
1       Bob     30  Rio de Janeiro    60000  False
2    Carlos     35       São Paulo    75000   True
3     Diana     28  Belo Horizonte    55000   True
4       Eva     42        Curitiba    90000  False
5    Felipe     29  Rio de Janeiro    62000   True
6  Gabriela     31       São Paulo    70000   True

==================================================

--- Selecionando uma Coluna Específica (Notação de Colchetes) ---
Coluna 'Nome':
0       Alice
1         Bob
2      Carlos
3       Diana
4         Eva
5      Felipe
6    Gabriela
Name: Nome, dtype: object
Tipo do objeto retornado: <class 'pandas.core.series.Series'>

------------------------------

Coluna 'Idade':
0    25
1    30
2    35
3    28
4    42
5    29
6    31
Name: Idade, dtype: int64

 Utilizando pandas, como lidar com valores ausentes (NaN) em um DataFrame?

In [39]:
import pandas as pd
import numpy as np # Usaremos numpy para criar valores NaN explicitamente

# Criando um DataFrame de exemplo com NaN
data = {
    'Nome': ['Alice', 'Bob', 'Carlos', 'Diana', 'Eva', 'Felipe', 'Gabriela', 'Hugo'],
    'Idade': [25, 30, np.nan, 28, 42, 29, 31, np.nan],
    'Cidade': ['São Paulo', 'Rio de Janeiro', 'São Paulo', 'Belo Horizonte', np.nan, 'Rio de Janeiro', 'São Paulo', 'Recife'],
    'Salario': [50000, np.nan, 75000, 55000, 90000, 62000, 70000, 80000],
    'Ativo': [True, False, True, True, np.nan, True, True, False]
}
df = pd.DataFrame(data)

print("DataFrame Original (com NaN):")
print(df)
print("\n" + "="*50 + "\n")
print("--- Identificando Valores Ausentes ---")

print("DataFrame com valores ausentes (True para NaN, False para não-NaN):")
print(df.isnull()) # Ou df.isna()

print("\n" + "-"*30 + "\n")

# Contar o número de valores ausentes por coluna
print("Contagem de valores ausentes por coluna:")
print(df.isnull().sum())

print("\n" + "-"*30 + "\n")

# Contar o total de valores ausentes no DataFrame
total_nan = df.isnull().sum().sum()
print(f"Total de valores ausentes no DataFrame: {total_nan}")

print("\n" + "-"*30 + "\n")

# Verificar se há algum NaN no DataFrame
if df.isnull().any().any():
    print("O DataFrame contém pelo menos um valor ausente.")
else:
    print("O DataFrame não contém valores ausentes.")

DataFrame Original (com NaN):
       Nome  Idade          Cidade  Salario  Ativo
0     Alice   25.0       São Paulo  50000.0   True
1       Bob   30.0  Rio de Janeiro      NaN  False
2    Carlos    NaN       São Paulo  75000.0   True
3     Diana   28.0  Belo Horizonte  55000.0   True
4       Eva   42.0             NaN  90000.0    NaN
5    Felipe   29.0  Rio de Janeiro  62000.0   True
6  Gabriela   31.0       São Paulo  70000.0   True
7      Hugo    NaN          Recife  80000.0  False

==================================================

--- Identificando Valores Ausentes ---
DataFrame com valores ausentes (True para NaN, False para não-NaN):
    Nome  Idade  Cidade  Salario  Ativo
0  False  False   False    False  False
1  False  False   False     True  False
2  False   True   False    False  False
3  False  False   False    False  False
4  False  False    True    False   True
5  False  False   False    False  False
6  False  False   False    False  False
7  False   True   False    False  False

------------------------------

Contagem de valores ausentes por coluna:
Nome       0
Idade      2
Cidade     1
Salario    1
Ativo      1
dtype: int64

------------------------------

Total de valores ausentes no DataFrame: 5

------------------------------

O DataFrame contém pelo menos um valor ausente.